.head
{
	background-color: #808080;
}

nav
{
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
}
 



footer
{
	background-color: #808080;
    text-align: center;
	margin-top: 20px;
	
}
.content
{
	background-color: #EEEEEE;
}
.header__logo
{
    width: 150px;
    height: 150px;
}
#Ad
{
    line-height: 100px;
	font-size: 50px;
    margin-left: 110;
}
nav ul
{
	list-style: none;
}
nav ul li a 
{
	text-decoration: none;
}
nav li
{
    margin-right: 40px;
}

#Tab
{
    border-collapse: collapse;
    margin: 40px;
}
#Tab td
{
    padding: 10px;
    border: 1px solid #000000;
}
#Tab tr:nth-child(even)
{
    background-color: gray;
}
#Tab tr:nth-child(odd)
{
    background-color: green;
}
form
{
	background-color: #EEEEEE;
}

#Tab th
{
	text-align: center;
	border: 1px solid #000000;
}



